body{
    background: #fff;
    margin: 0px;
}
header{
    background-color: beige;
}

nav{
    background: #e6e6e1;
    padding: 5px 0px;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
}

a{
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
    text-decoration: none;
    margin: 0px 15px;
    font-size: 20px;
}

a:hover{
    color: cornflowerblue;
}

.titulo_destacado{
    margin: 2% 0%;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chocolate;
}

.imagem_estilo{
    width: 80%;
    background: #fff;
}

.img_ao_lado{
    float: left;
    width: 25%;
    margin-right: 10px;
    margin-top: 20px;
}

.estilizacao_texto{
    font-size: 18px;
    color: chocolate;
    padding-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}

.rodape{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chocolate;
    z-index: 100;

}