body{
    background: #fff;
    margin: 0px;
}

header{
    background-color: beige;
}

nav{
    background: #e6e6e1;
    padding: 5px 0px;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
}

a{
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
    text-decoration: none;
    margin: 0px 15px;
    font-size: 20px;
}

a:hover{
    color: cornflowerblue;
}

.titulo_destacado{
    margin: 5% 0%;
    text-align: center;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chocolate;
}

figure img{
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
}

.imagem_diminuida{
    width: 80%;
    margin: 0 auto;
    background: #fff;
    display: flex;
}

.img_centro{
    float:left;
    margin: 0px 1%;
    max-width: 48%;
    width: 100%; 
    position: relative;
}

.img_centro figcaption{
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.texto_explicativo{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    margin: 2.5% 0%;
    color: chocolate;
}

.rodape{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: chocolate;
}

